.title-content{
  font-family: Maven Pro;
  font-family: Maven Pro;
  font-size: 18px;
  padding: 0px 12px;
  font-weight: bold;
  /* font-style: normal; */
  /* font-stretch: normal; */
  /* line-height: 1.17; */
  /* letter-spacing: -0.5px; */
  color: #ffffff;
  /* padding-bottom: 15px; */
  background: none;
  background: #00398f;
  color: white;
  height: 38px;
  border:none
  /* line-height: 26px; */
}
.hr-title{
  height: 1px;
  /* background-color: #00398f; */
  background: #1456ba;
  clear: both;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

#custom-search-input {
  margin:0;
  margin-top: 4px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus button {
  z-index: 0 !important;
}

.remove-padding-col{
  padding-left: 0px;
  padding-right: 0px;
}
.left-filter{
  padding-top: 15px;
}
.list-user .input-custom{
  border-radius: 8px;
  background-color: #002864;
}
.title-filter{
  font-family: Maven Pro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 10px;
}
 .left-filter .filter{
  font-family: Maven Pro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
}
.list-user .left-filter .filter .form-control{
  font-family: Maven Pro !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.14 !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  background-color: rgb(0, 44, 110) !important;
    border: solid 1px #00398f !important;
}
.MiniDrawer-content-9{

}
.list-data{

}
.list-data .user .infor-atribute{
  font-family: Maven Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #9eccf8;
  padding-top: 3px;
  clear: both;


}
.list-data .user .name{
  font-family: Maven Pro;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 10px;
    padding-bottom: 5px;
  clear: both;
}
.list-data .user .div-avatar .avatar{
  width: 56px;
  height: 56px;
  border-radius: 40px;
}
.list-data .user{
  /* background-image: linear-gradient(123deg, #00398f, #006bd7); */
  border-radius: 4px;
  background-color: #00327d;
  border: solid 1px #00398f;
  padding: 15px;
  padding-top: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;

}
.list-data .user .star{
  padding-top: 15px;
}
.list-data .remove-padding-col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.list-data .user:hover,list-data .user:active,list-data .user:focus{
   border: 1px solid #1850a5;
   border: 1px solid #1850a5;
    /* box-shadow: 0px 3px 7px 4px #285aa6; */
    box-shadow: 0 5px 11px #285aa6;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.05, 1.05);

}
.list-data .user::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}


/* .list-data .user .star .fa-star-half-o:after {
  font-family: FontAwesome;
  content: '\f089';
  position: absolute;
  z-index: 1;
}

.list-data .user .star .fa-star-half-o:before {
  font-family: FontAwesome;
  content: '\f089';
  position: absolute;
  color: #006bd7;


  z-index: 1;
} */
/* .fa-star-half-empty:after, .fa-star-half-full:after, .fa-star-half-o:after {
  content: "\f123";
  transform: rotateY(-180deg);
  display: inline-block;
  right:21px;
  position: absolute;
  top: 3px;
  color: #006bd7;
  overflow: hidden;
  width: 7px;
} */
.unrated {
  color: #006bd7;
  cursor: pointer;
}
.fa-star-half-o{
  -webkit-text-stroke-color: orange;

}
.fa-star-half-o {
  position: relative;
}


.fa-star-half-o:after {
  font-family: FontAwesome;
  content: '\f089';
  position: absolute;
  z-index: 1;
}

.fa-star-half-o:before{
  font-family: FontAwesome;
  content: '\f089';
  position: absolute;
  color: #006bd7;
  z-index:1
}

/* css page detail user */

.list-user .info-detail{
  color: white;
  font-size: 12px;
  margin-top: 40px;
  /* margin-bottom: 20px; */
}
.list-user .info-detail .info-person .infor-atribute .note{
float: left;
color: #85b7e4;
margin-right: 4px;
}

.list-user .info-detail .info-person .infor-atribute{
  padding-top: 3px;
  padding-bottom: 3px;
}
.list-user  .info-detail .info-person .info-channel{

}
.list-user  .info-detail .info-person .info-channel i{
  /* font-family: Material-Design-Iconic-Font; */
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: -0.4px;
  text-align: center;
  color: #0092f1;
  margin-right: 7px;
}
.user-action{
  z-index: 5;
  width: 157px;
  height: 157px;
  border-radius: 90px;
  border: solid 6px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(230deg, #0092f1, #00398f);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.user-action img{
  width: 146px;
  height: 146px;
  z-index: 5;
  border-radius: 90px;
  border: solid 6px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(230deg, #0092f1, #00398f);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
}
.div-action{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #0092f1;
}
.user-action img:hover .circle-right-half {
  transition: 1s transform linear;
  transform: rotate(315deg);
}
.user-action img{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.text-info-user::after{
  content: "";
  display: block;
  border-bottom: 1px solid #faf9f9;
  position: absolute;
  width: 69px;
  left: -141px;
  /* top: 42%; */
  z-index: 1;
}





.text-info-user{
  top: -28px;
  /* width: 112px; */
  right: 112px;
  /* left: 30px; */
  /* left: 100px; */
  position: absolute;
  transform: rotate(-23deg);
}
.user-info-image{
  position: relative;
  /* margin: 150px; */
  /* width: 90px; */
  z-index: 5;
  width: 100%;
}

.text-information{
  position: absolute;
  top: -23px;
  right: 47px;
  border-bottom: 1px solid;
  text-align: right;
  width: 177px;
  padding-bottom: 5px;
}

.user-info-image div:nth-child(2)::after {
  border-bottom: 1px dotted rgb(0, 146, 241) !important;
}

.user-info-image div:nth-child(6)::after {
  border-bottom: 1.1px dotted rgb(255, 0, 0) !important;
}


.pagination-web{
  display: flex;
  align-items: center;
  justify-content: center;
}


.list-user .info-detail .list-tab .tab-filter {
  float: left;
  padding: 5px 20px;
  /* height: 32px; */
  font-size: 11px;
  border-radius: 16px;
  font-weight: bold;
  margin-right: 12px;
  cursor: pointer;
}
.list-user .info-detail .list-tab .active{
  background-color: #0092f1;

}
.list-user .list-status .status{
  border-radius: 4px;
  background: white;
  padding: 10px;
  margin-left: 24px;
  margin-bottom: 15px;
  padding-bottom: 7px;
}
 .list-status .info-status a{
  color: #0092f1 !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
}
.list-status .info p{
  padding-top: 2px;
  font-family: Maven Pro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #666666 !important;
}
.list-status .type-action {
  border-radius: 10px;
  /* padding-top: 5px; */
  padding: 4px 10px;
  float: right;
  font-family: Maven Pro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}
.list-status .status .tieu-cuc{
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff0000;

}
.list-status .tich-cuc{
  background-color: rgba(0, 206, 125, 0.2);
  color: #00ce7d;

}
.list-status .status .hr{
  border-bottom: 1px solid #f6f2f2;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.status .type-channel{
  float: left;
  font-size: 15px;
  padding-top: 3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.3px;
  text-align: center;
  /* color: #3a5a99; */
}
.list-user .list-status .status .type-channel .fa{
  color: #3a5a99;

}

.list-status .status .type-channel .fa-youtube-play{
  color:#fe0605;


}



  .list-status .status .type-channel .fa-twitter{
    color: #1da1f2;

  }





/* danh cho Trang tag word */
.header-top-keyword{
  font-family: Maven Pro;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}
.module .keyword{
  font-family: Maven Pro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
}
.module .list-keyword .row-data{
    padding-top:6px;
    padding-bottom: 6px;
}
.tagcloud{
  display: flex;
  justify-content: center;
  height: 300px;
  /* width: 500px; */
  padding: 50px;
  border-radius: 50%;
  align-items: center;
}
.list-keyword{
  max-height: 350px;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  clear: both;
}
.data-trend{
  font-family: Maven Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  background: #00327d;
  border-radius: 3px;


}
.list-user .title-post{
  font-family: Maven Pro;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* word-break: break-all; */
  white-space: normal;
  /* word-break: break-all; */
  white-space: normal;
}
