.title-content{
  font-family: Maven Pro;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: -0.5px;
  color: #ffffff;
  padding-bottom: 15px;
}
.hr-title{
  height: 1px;
  /* background-color: #00398f; */
  background: #1456ba;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus button {
  z-index: 0 !important;
}

.remove-padding-col{
  padding-left: 0px;
  padding-right: 0px;
}
.left-filter{
  padding-top: 15px;
}
.list-user .input-custom{
  border-radius: 8px;
  background-color: #002864;
}
.title-filter{
  font-family: Maven Pro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 10px;
}
 .left-filter .filter{
  font-family: Maven Pro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
}
.list-user .left-filter .filter .form-control{
  font-family: Maven Pro !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.14 !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  background-color: rgb(0, 44, 110) !important;
    border: solid 1px #00398f !important;
}
.MiniDrawer-content-9{

}
.list-data{

}
.list-data .user .infor-atribute{
  font-family: Maven Pro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #9eccf8;
  padding-top: 3px;
  clear: both;


}
.list-data .user .name{
  font-family: Maven Pro;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 10px;
    padding-bottom: 5px;
  clear: both;
}
.list-data .user .div-avatar .avatar{
  width: 60px;
  height: 60px;
  border-radius: 40px;
}
.list-data .user{
  /* background-image: linear-gradient(123deg, #00398f, #006bd7); */
  border-radius: 4px;
  background-color: #00327d;
  border: solid 1px #00398f;
  padding: 15px;
  margin-top: 7px;
}
.list-data .user .star{
  padding-top: 15px;
}
.list-data .remove-padding-col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
